/* darkmode */
@import url('https://gitcdn.link/cdn/Amoenus/SwaggerDark/master/SwaggerDark.css');
@import url('https://gitcdn.link/cdn/Amoenus/SwaggerDark/master/SwaggerDark.user.css');

/* hide swagger topbar menu */
.swagger-ui .topbar,
.swagger-ui .topbar * {
  padding: 0px !important;
  height: 0px;
  visibility: hidden;
  background-color: transparent !important;
}